@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('/BrandonGrotesque-Bold.eot');
  src: url('/BrandonGrotesque-Bold.woff2') format('woff2'),
       url('/BrandonGrotesque-Bold.woff') format('woff'),
       url('/BrandonGrotesque-Bold.ttf') format('truetype'),
       url('/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg'),
       url('/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
