@import 'reset';
@import 'variables';
@import 'fonts';

body {
  color: orange;
}

.main-wrapper {
  .menu-wrapper {
    &.off {
      display: none;
    }
  }

  .menu_button-wrapper {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

    .menu-button {}
  }

  .button-wrapper {}
}
