@import "./hamburger";

$hamburger-width: 35px;
$hamburger-margins: 35px;

.hamburger {
  position: absolute;
  width: $hamburger-width;
  height: $hamburger-width;
  background-color: white;
  left: $hamburger-margins;
  top: $hamburger-margins;
  z-index: 100;

  :global(.hamburgerActual) {
      @include burger($hamburger-width, 7px, 5px, #444);
  }

  :global(.hamburgerActual):global(.is-active) {
    @include burger-to-cross;
  }
}
