.content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	// position: fixed;
	width: 100vw;
	height: auto;
	flex-direction: column;
	background-color: black;
	color: white;
	margin-bottom: 0;
	padding-top: 5vh;
	overflow-x: hidden;
	.contentHeader {
		margin-bottom: 3vh;
	}
	.flexWrapper {
		display: flex;
		flex-direction: row-reverse;
		// width: 1024px;
		width: 840px;
    margin-bottom: 7vh;
		@media (max-width: 599px) {
			margin-bottom: 2vh;
		}
		.flexLeft {
			width: 33%;
			padding-left: 20px;
		}
		.flexRight {
			width: 66%;
			padding-right: 20px;
			border-right: 1px solid white;
		}
	}

	.mediaWrapper {
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		div, a, img {
			flex-shrink: 0;
			flex-grow: 0;
		}
		h3 {
			margin: 20px 0 10px 0;
			display: flex;
			justify-content: center;
		}
		:global(.contentImageLink) {
			position: relative;
			display: block;
			:global(.contentImage) {
			}
			:global(.contentInfo) {
				opacity: 0;
				background-color: rgba(0, 0, 0, 0.7);
				display: flex;
		    position: absolute;
		    bottom: 0;
		    justify-content: space-between;
		    flex-direction: row;
		    width: 100%;
				padding: 10px;
				&:after {
					content: 'Click to open in new tab';
					font-family: 'BrandonGrotesque-Regular';
				  font-weight: 100;
					font-size: 1rem;
				  color: white;
					text-transform: uppercase;
				}
			}
			&:hover {
				:global(.contentInfo) {
					opacity: 1;
				}
			}
		}
		img, video {
			width: 100%;
			// max-width: 1024px;
		}
	}

	ul {
		text-align: center;
		li {
			padding: 100px 0;
			border-bottom: 1px solid white;
			&:last-of-type {
				border-bottom: none;
			}
			:global(.menu-link) {
				display: inline-block;
				cursor: pointer;
				h2 {
					pointer-events: none;
				}
			}
		}
	}
	button {
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		margin: 20px 0 0;
		color: white;
		&:hover {
			:global(.buttonText) {
				text-decoration: underline;
			}
		}
		:global(.buttonText) {
			margin: 3px;
			transition: margin .5s easeOut;
		}

		div {
			border-bottom-color: white;
		}
	}
	@media (max-width: 599px) {
		margin-top: 0;
		padding-left: 8vw;
    padding-right: 8vw;
		.flexWrapper {
	    width: 100%;
			flex-direction: column-reverse;
			.flexLeft, .flexRight {
				width: 100%;
				padding: 0;
				border: none;
			}
			.flexRight {
				padding-bottom: 20px;
				border-bottom: 1px solid white;
			}
			.flexLeft {
				padding-top: 20px;
			}
		}
	}
}
