.about {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background-color: white;
	color: black;
	padding-top: 13vh;
	:global(.headline-wrapper) {
		h1 {

		}
	}
	:global(.inner_content-wrapper) {
		display: flex;
		flex-direction: row;

		div {
	    height: 100%;
		}
		:global(.inner_content-wrapper_left) {
	    padding: 0 45px 0 70px;
			width: 50%;
			margin-top: 70px;
		}
		:global(.inner_content-wrapper_right) {
			width: 50%;
			margin-top: 70px;
			:global(.inner_content-wrapper_right_images) {

			}
			:global(.inner_content-wrapper_right-tags) {

			}
		}
	}
}

:global(.DesktopLayout) {
}
