.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	background-color: white;
	color: white;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 21px;
  text-transform: uppercase;
	letter-spacing: 7px;
	ul {
		text-align: center;
		li {
			padding: 100px 0;
			border-bottom: 1px solid white;
			&:last-of-type {
				border-bottom: none;
			}
		}
	}
}

.DesktopLayout {
}
