.about {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	max-width: 1024px;
	min-height: 780px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 7vh;
	color: black;
	background-color: white;
	@media (max-width: 599px) {
		height: auto;
		padding-bottom: 0;
	}

	:global(.socialLinkWrapper) {
		margin: 1.5vh 0;
	}

	:global(.buttonWrapper) {
		@media (max-width: 599px) {
			position: static;
		}
	}

	button {
		position: relative;
		bottom: 20px;
		@media (max-width: 599px) {
			position: relative;
			margin-top: 7vh;
		}
		@media (max-height: 780px) {
			bottom: 0;
		}
	}

	:global(.headline-wrapper) {
		@media (max-width: 599px) {
			margin-top: 5vh;
		}
	}

	:global(.inner_content-wrapper) {
		display: flex;
		flex-direction: row;
		max-width: 840px;
		margin: 0 5vw;
		@media (max-width: 599px) {
			margin-top: 4vh !important;
		}

		h2 {
			margin: 2vh 0;
		}

		:global(.wtf) {
			display: inline-block;
			width: auto;
			padding-bottom: 3px;
			border-bottom: 1px solid black;
		}

		h4 {
			margin: 1vh 0;
			white-space: nowrap;
			color: black;
			@media (max-width: 599px) {
				margin: 3vh 0;
			}
		}

		div {
			height: 100%;
		}

		:global(.inner_content-wrapper_left) {
			width: 50%;
			margin-top: 40px;
			padding-right: 20px;
			border-right: 1px solid black;
		}

		:global(.inner_content-wrapper_right) {
			width: 50%;
			margin-top: 40px;
			padding-left: 20px;
		}
		@media (max-width: 599px) {
			flex-direction: column;
			margin: 0 8vw;

			:global(.inner_content-wrapper_left) {
				width: 100%;
				margin-top: 0;
				padding: 0;
				border-right: none;
			}

			:global(.inner_content-wrapper_right) {
				width: 100%;
				margin-top: 0;
				margin-top: 3vh;
				padding: 3vh 0 0;
				border-top: 1px solid black;
			}
		}
	}
}

:global(.DesktopLayout) {}
