.splash {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	button {
		position: relative;
	}
	svg {
		transition: fill .4s easeOut;
		fill: black;
		width: 25vw;
		max-width: 300px;
		min-width: 200px;
		max-height: 30px;
		@media (max-width: 599px) {
			width: 65vw;
		}
	}
	:global(.splashParallaxWrapper) {
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}
	:global(.ContoursMiddle) {
		animation: ticker linear infinite;
	}
	:global(.squiggleWrapper) {
		cursor: pointer;
		width: 25vw;
		max-width: 300px;
		min-width: 200px;
		overflow: hidden;
		display: flex;
		justify-content: flex-start;
		svg {
			width: 100%;
			flex-shrink: 0;
			flex-grow: 0;
		}
	}
}
