$paragraphFontStack : 'Bodoni, Times, Serif';
$headlineFontStack : 'BrandonGrotesque-Bold, Helvetica, Sans Serif';

$menuInSpeed : 0.35s;
$menuOutSpeed : 0.35s;
$contentInSpeed : 0.35s;
$contentOutSpeed : 0.35s;
