@import 'reset';
@import 'variables';
@import 'easings';
@import 'breakpoints';
@import 'fonts/BrandonGrotesque-Regular/font';
@import 'fonts/BrandonGrotesque-Bold/font';

body,
html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	user-select: none;
}

h1 {
	font-family: 'BrandonGrotesque-Bold';
	font-size: 67px;
	text-transform: uppercase;
}

h2 {
	color: white;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 2.5vw;
	text-transform: uppercase;
	letter-spacing: 2vw;
}

p {
	font-family: 'Bodoni';
	font-size: 17px;
	text-transform: none;
	letter-spacing: 0;
}

#app, .screen {
	width: 100vw;
	min-height: 100vh;
}

.content-wrapper,
.menu-wrapper {
	position: fixed;
	z-index: 99;
}

.enter {
	&.menu-wrapper {
		left: 0;
		transform: translateX(0%);
		transition: $menuInSpeed $easeOutCubic;
	}
	&.content-wrapper {
		left: 0;
		transform: translateX(0%);
		transition: $contentInSpeed $easeOutCubic;
	}
}

.exit {
	&.menu-wrapper {
		left: -100%;
		transform: translateX(-100%);
		transition: $menuOutSpeed $easeOutCubic;
	}
	&.content-wrapper {
		left: 100%;
		transform: translateX(100%);
		transition: $contentOutSpeed $easeOutCubic;
	}
}

.tags {
	display: flex;
	.tag {
		color: white;
		font-family: 'BrandonGrotesque-Bold';
		font-size: 12px;
		text-transform: uppercase;
	  position: relative;
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
		pre {
			position: absolute;
			z-index: 2;
			padding-right: 20px;
		}
		svg {
			z-index: 1;
		}
	}
}
