@import 'reset';
@import 'variables';
@import 'easings';
@import 'breakpoints';
@import 'animations';
@import 'fonts/Brandon-Regular/stylesheet.css';
@import 'fonts/Brandon-Bold/stylesheet.css';
@import 'iOS';
@import 'Safari';


html {
  touch-action: manipulation;
  overflow-x: hidden;
}

body,
html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	user-select: none;
}

h1 {
	font-family: 'BrandonGrotesque-Bold';
	font-size: 4rem;
	text-transform: uppercase;
	@media (max-width: 599px) {
		font-size: 2.5rem;
	}
}

h2 {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 1.25rem;
	text-transform: uppercase;
	@media (max-width: 599px) {
		font-size: 1rem;
	}
}

h3 {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 1.25rem;
  color: white;
	text-transform: uppercase;
  margin: 7px 0;
	@media (max-width: 599px) {
		font-size: 1.1rem;
	}
}

h4 {
  font-family: 'BrandonGrotesque-Regular';
  font-weight: 100;
  letter-spacing: 1px;
	font-size: 1rem;
  color: white;
	text-transform: uppercase;
}

p {
	font-family: 'Bodoni';
	font-size: 1rem;
	line-height: 1.35rem;
	text-transform: none;
	letter-spacing: 0.03rem;
}

.bold {
	font-weight: bold;
}

.selectable-text {
	user-select: text;
}

#app,
.screen {
	width: 100vw;
	min-height: 100vh;
	position: relative;
	margin-bottom: 100vh;
	@media (max-width: 599px) {
		margin-bottom: 100vh;
	}
}

.content-wrapper,
.menu-wrapper {
	min-height: 100vh;
	z-index: 99;
}

.contentInfo {
  transition: opacity 2s $easeOutExpo;
  @media (max-width: 599px) {
    display: none;
    &:hover {
      display: none;
    }
  }
}

.enter {
	&.menu-wrapper {
		opacity: 1;
		transition: $menuInSpeed $easeOutCubic;
	}

	&.content-wrapper {
		opacity: 1;
		transition: $contentInSpeed $easeOutCubic;
	}
}

	.menu-wrapper {
		opacity: 0;
	}

	.content-wrapper {
		opacity: 0;
	}

.grid-item {
  animation: gridIn .5s $easeOutExpo;
  .backside {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    opacity: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    transition: opacity 2s $easeOutExpo;
    h3 {
      padding: 7px 0;
      background-color: rgba(0,0,0,.25);
      width: 100%;
      margin: 0;
    }
  }
  &:hover {
    .backside {
      opacity: 1;
    }
  }
  @media (max-width: 599px) {
    .backside {
      opacity: 1;
    }
    &:hover {
      .backside {
        opacity: 0;
      }
    }
  }
}

.buttonWrapper {
  position: absolute;
  bottom: 20px;
}

.tags {
	display: inline-block;

	.tag {
		cursor: pointer;
		color: white;
		font-family: 'BrandonGrotesque-Bold';
		font-size: 12px;
		text-transform: uppercase;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: flex-end;
		background-color: black;
		padding: 1vh 1vw;
		border: 1px solid white;

		div {
			display: flex;
			align-items: center;
		}

		.xtag {
			$size: 1vw;
			@media (max-width: 599px) {
				$size: 10px;
			}
			height: $size;
			width: $size;
			position: relative;
			box-sizing: border-box;
			line-height: $size;
			display: inline-block;
			border: 1px solid white;
			border-radius: $size;
			margin-right: 10px;
			@media (max-width: 599px) {
				margin-right: 5px;
			}

			&:after,
			&:before {
				$width: $size;
				$height: 1px;
				transform: rotate(-45deg);
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -$height/2;
				margin-left: -$width/2;
				display: block;
				height: $height;
				width: $width;
				background-color: #fff;
				transition: all 0.2s ease-out;
			}

			&:after {
				transform: rotate(45deg);
			}
		}
		&:hover {
			.xtag {
				&:after,
				&:before {
					transform: rotate(0deg);
				}
			}
		}
	}
}
