@import 'reset';
@import 'variables';
@import 'easings';
@import 'fonts/BrandonGrotesque-Regular/font';
@import 'fonts/BrandonGrotesque-Bold/font';

body,
html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	user-select: none;
}

h1 {
	font-family: 'BrandonGrotesque-Bold';
	font-size: 67px;
	text-transform: uppercase;
}

h2 {
	color: white;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 2.5vw;
	text-transform: uppercase;
	letter-spacing: 2vw;
}

p {
	font-family: 'Bodoni';
	font-size: 17px;
	text-transform: none;
	letter-spacing: 0;
}


#app, .screen {
	width: 100vw;
	height: 100vh;
}

.content-wrapper,
.menu-wrapper {
	position: fixed;
}

.visible {

	&.menu-wrapper {
		left: 0;
		transform: translateX(0%);
		transition: $menuInSpeed $easeInCubic;
	}

	&.content-wrapper {
		left: 0;
		transform: translateX(0%);
		transition: $contentInSpeed $easeInCubic;
	}
}

.hidden {

	&.menu-wrapper {
		left: -100%;
		transform: translateX(-100%);
		transition: $menuOutSpeed $easeInCubic;
	}

	&.content-wrapper {
		left: 100%;
		transform: translateX(100%);
		transition: $contentOutSpeed $easeInCubic;
	}
}
