.work {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
	color: black;
	padding-top: 13vh;
	:global(.headline-wrapper) {
		h1 {

		}
	}
	:global(.inner_content-wrapper) {
		display: grid;
    grid-template-columns: repeat(5, 1fr);
		grid-gap: 1px;
    background-color: black;
    border: 1px solid black;
		margin-top: 70px;

		div {
	    height: 20vw;
			width: 20vw;
			background-color: white;
		}

	}
}

:global(.DesktopLayout) {
}
