@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('/BrandonGrotesque-Regular.eot');
  src:
       url('/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg'),
       url('/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
